.formulario {
    display: flex;
    justify-content: center;
    padding: 80px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(195,170,67,0.70) 59%, rgba(6,28,37,1) 100%);
}

.formulario form {
    max-width: 80%;
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border: none;
    border-radius: 20px;
    padding: 36px 64px;
}

.formulario h4 {
    color: rgb(13, 112, 0);
    font-weight: 700;
    background-color: aquamarine;
    text-align: center;
    width: 50%;
}

.formulario h2 {
    text-align: center;
}